.contact-section {
    background-color: #000000;
    color: white;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    height: 15rem;
}

.contact-content {
    max-width: 800px;
    margin: 0 auto;
}

.contact-content p {
    margin-bottom: 2rem;
    font-size: 1rem;
}

.contact-content h1 {
    font-size: 1.8em;
}

.social-icons {
    margin-top: 1rem;
}

.social-icons .icon {
    display: inline-block;
    margin: 0 0.2rem;
}

.social-icons img {
    width: 25px; 
    height: auto;
    vertical-align: middle;
    transition: opacity 0.3s;
}

.social-icons img:hover {
    opacity: 0.7;
}


@media (max-width: 600px) {
    .social-icons img {
        width: 25px; 
    }
    .contact-content p {
        font-size: 1rem;
    }
    
    .contact-content h1 {
        font-size: 1.8em;
    }

}
