@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media screen and (max-width: 1400px) {
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1100px) {
  .logo{
    height: 110%;
    padding-left: .8rem;
  }

  .logo img{
    height: 120%;
  }

  .overlay-menu {
    width: 50%;
  }

  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }

  .section__profile-resume {
    bottom: 25vh;
  }

  .section__profile-desc {
    bottom: 10vh;
  }

  .section__profile-desc h2 {
    font-size: 2.1vw;
  }

  .section__profile-roles h2{
    font-size: 3.5vw;
  }

  .btn-rounded1{
    width: 32vw;
    font-size: .85rem;
  }
  .btn-stroked1 {
    width: 19vw;
    font-size: .8rem;
  }

  /* ABOUT */
  .grid-1{
    font-size: 6.5em;
    gap: 0px;
  }

  .grid-2{
    gap: 0px;
  }

  .grid-2 div {
    padding-top: 0em;
    gap: 3em;
  }

  /* SKILLS */

  .wrapper {
		flex-direction: column;
	}
	.indicator {
		border-right: none;
	}
  .indicator li{
    padding: 10px 2rem;
  }
  .content {
    border-top: 1px solid black;
  }
  .tech-stack-indiv{
    height: 8em;
    width: 7em;
  }
  .content li.active {
    grid-template-columns: repeat(3, 1fr); 
  }

  .project-section-content{
    justify-content: space-between;
    flex-direction: column;
  }

  .project-section-details {
    width: 100%;
  }

  .project-section-pic{
    width: 60vw;
  }
  .project-section-pic img{
    width: 40rem;
    height: auto;
  }
 
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__profile-pic-container {
    width: 60vh;
    height: 60vh;
  }
  .about-containers {
    margin-top: 0;
  }

  .btn-github {
    width: 50vw;
    height: 3rem;
    font-size: .9rem;
  }
}


@media screen and (max-width: 810px) {
  /*.section__profile-resume {
    bottom: 25vh;
  }
  .btn-rounded1{
    width: 32vw;
    font-size: .85rem;
  }
  .btn-stroked1 {
    width: 19vw;
    font-size: .8rem;
  }*/

  .grid-1{
    font-size: 5.3em;
    margin: 0;
    gap: 0px;
  }

  .grid-1 div{
    padding: .8em 1em;
}

  .grid-2 {
    padding-bottom: 2em;
  }

  .grid-2 h2{
    font-size: 2em;
  }
  .grid-2 figure {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0; 
}
  .grid-2 figure img{
    width: 50%;
  }

  .grid-2 div {
    grid-template-columns: 1fr; 
    font-size: .8em;
    gap: 4em;
  }

  .content li.active {
    grid-template-columns: repeat(2, 1fr); 
  }


  .timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}

  
  
}

@media screen and (max-width: 600px) {
  .logo{
    height: 100%;
    padding-left: .4rem;
  }

  .overlay-menu {
    width: 65%;
  }

  /*PROFILE SECTION*/

  .section__profile-pic-container {
    width: 40vh;
    height: 40vh;
  }

  .section__profile-michelle,
  .section__profile-tolentino {
    height: 11vw;
  }

  .section__profile-michelle h1 {
    transform: translateX(-6%);
  }
  .section__profile-tolentino h1 {
    transform: translateX(4.8%);
  }

  .section__profile-michelle h1,
  .section__profile-tolentino h1{
    font-size: 15vw;
    letter-spacing: 2px;
  }
  .section__profile-michelle h1:hover,
  .section__profile-tolentino h1:hover {
    filter: blur(3px);
    letter-spacing: 3px;
    font-size: 15vw;
  }

  .section__profile-roles{
    transform: rotate(-90deg);
    bottom: 20vh;
    left: -10vw;
  }

  .section__profile-roles h2{
    font-size: 1.7rem;
  }

  .section__profile-resume {
    bottom: 45vh;
  }

  .btn-rounded1{
    width: 60vw;
    height: 6vh;
    padding: .5rem;
    font-size: .85rem;
  }
  .btn-stroked1 {
    width: 40vw;
    font-size: .8rem;
  }

  .section__profile-desc {
    bottom: 30vh;
  }

  .section__profile-desc {
    bottom: 18vh;
  }

  .section__profile-desc h2 {
    font-size: 3.3vw;
  }
    
  /*PROFILE SECTION END*/

  /* ABOUT */
  .grid-1{
    font-size: 3em;
    padding: 0em;
    grid-template-rows: repeat(var(--row), 100px);
  }

  /* SKILLS */
  .tech-stack-container {
    height: 35rem;
  }

  .tech-stack-indiv{
    height: 8em;
    width: 8em;
  }

  .content li{
    font-size: .6em;
  }

  #section-title-techstack{
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000, /* 2px stroke */
        4px 3px 0 #000; /* Bottom-right shadow with 6px thickness */
  }

  #contact,
  footer {
    height: 40vh;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
