  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  
  /* SECTIONS */

  section {
    padding-top: 8rem;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
  }

  .section-container {
    display: flex;
  }

  /* PROFILE SECTION */

  #profile {
    height: 96vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: flex-start;
    height: 98vh;
    font-family: 'Montserrat', sans-serif;
  }

  .grid-background-section {
    position: relative;
    margin: 0rem;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(to right, rgb(153, 153, 153) .5px, transparent 1.2px) 0 0,
      linear-gradient(to bottom, rgb(153, 153, 153) .5px, transparent 1.2px) 0 0;
    background-size: 33.2px 33.2px; /* Adjust size for cell size */
    background-color: #f1f1f1; 
    background-repeat: repeat;
    border: 1rem solid white;
    align-items: center;
  }

.section__profile-pic-container {
  position: absolute;
  bottom: 0;
  left: 50%;  
  transform: translateX(-30%); /* Center horizontally */
  display: flex;
  height: 75vh;
  width: 75vh;
  z-index: 2;
  pointer-events: none;
}

/*MICHELLE TOLENTINO*/

.section__profile-michelle,
.section__profile-tolentino {
  position: relative;
  width: 100%;
  align-items: center;
  display: flex;
  z-index: 1;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  height: 9vw;
}

.section__profile-tolentino{
  justify-content: right;
}

.section__profile-michelle{
  justify-content: space-between;
}

.section__profile-michelle h1,
.section__profile-tolentino h1{
  font-size: 12vw;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 600;
  box-sizing: border-box;
  transition: .5s ease-in-out;;
}

.section__profile-michelle h1 {
  transform: translateX(-3.5%);
}
.section__profile-tolentino h1 {
  transform: translateX(3%);
}

.section__profile-michelle h1:hover,
.section__profile-tolentino h1:hover {
  transform: translateX(0%);
  filter: blur(5px);
  cursor: default;
  letter-spacing: 20px;
  font-size: 11vw;
}

#pink-blur,
#blue-blur,
#yellow-blur{
  transition: .3s ease-in-out;
}

#pink-blur:hover,
#blue-blur:hover,
#yellow-blur:hover{
  filter: blur(1px);
  cursor: default;
  letter-spacing: 1px;
}

#pink-blur:hover,
.section__profile-michelle h1:hover {
  color: #ea3dc7;
}

#blue-blur:hover,
.section__profile-tolentino h1:hover {
  color: #00c2d0;
}

#yellow-blur:hover{
  color: #ff9f21;
}

.section__profile-tolentino h1 {
  transform: translateX(3%);
}

.rectangle-shape-profile1{
  transform: translateY(-3.5vw);
  background-color: black;
  height: 1.3vw;
  width: 26vw;
}

/* ROLES & RESUME & DESC*/
.section__profile-desc,
.section__profile-roles, 
.section__profile-resume {
  position: absolute;
  align-items:start;
  transition: .05s ease-in-out;
  display: flex;
  flex-direction: column;
}

.section__profile-roles{ 
  left: 2vw;
  bottom: 16vh;
}

.section__profile-resume { 
  right: 2vw;
  bottom: 15vh;
  gap: .7rem;
}

.section__profile-desc{
  right: 2vw;
  bottom: 2vh;
  align-items:end;
}

.section__profile-roles h2{
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  font-size: 3vw;
}

.section__profile-roles h2 + h2 {
  margin-top: -8px;     
}

.section__profile-desc h2 + h2{
  margin-top: -5px;
}
.section__profile-desc h2{
  font-weight: 500;
  font-style: italic;
  font-size: 1.2rem;
}

.btn-rounded1,
.btn-stroked1 {
  border: 2px solid black;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  box-shadow: 2px 2px 0 0 rgb(83, 83, 83);
  transition: .3s ease-in-out;
  cursor: pointer;
}
.btn-rounded1{
  background-color: black;
  color: white;
  height: 3.5rem;
  width: 26vw;
  padding: 1rem;
}


.btn-rounded1:hover {
  background-color: #01a69e;
}
 
.btn-stroked1 {
  background-color: white;
  color: rgb(0, 0, 0);
  height: 5vh;
  width: 15vw;
  padding: .4rem;
  font-weight: 600; 
}

.btn-stroked1:hover {
  background-color: #ee8dde;
}








/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}