
.project-section-items{
    background-color: white;
    border: 2px solid black;
    box-shadow: 4px 4px 0 0 rgb(36, 36, 36);
	padding: 4.5rem 1.8rem;
	border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.project-section-item{
	width: 100%;
	position: relative;
    animation: projectContAnimated both;
    animation-timeline: view();   
}

@keyframes projectContAnimated{
    0%{
        opacity: 0;
        transform: translateY(100px) scale(0.5);
    }
    40%{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


.project-section-category{
	font-size: .6rem;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    background-color: black;
    padding: .5rem 1rem;
	color: #ffffff;
    display: flex;
    width: fit-content;
}

.project-section-details h2{
    font-size: 2rem;
}

.project-section-details p{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: justify;
}

.project-section-details h4{
    margin-right: .2rem;
}

.project-section-details {
    margin-top: 1.5rem;
    margin-right: .2rem;
    width: 40%;
}

.project-section-content{
    background-color: white;
    border: 2px solid black;
    box-shadow: 4px 4px 0 0 rgb(36, 36, 36);
	padding: 30px;
	border-radius: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 3rem;
    gap: 2.2rem;
}

.project-section-pic{
   width: 60%;
   overflow-x: auto;
}

.project-section-pic img{
    height: 22rem;
}

.btn-github{
  border: 2px solid black;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  box-shadow: 2px 2px 0 0 rgb(83, 83, 83);
  transition: .3s ease-in-out;
  cursor: pointer;
  color: white;
  background-color: black;
  height: 4rem;
  width: 30vw;
  margin-top: 2rem;
}

.btn-github:hover{
  background-color: #01a69e;
}