#skills{
    margin: 0;
    padding-top: 0rem;
    padding-bottom: 9rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    animation: sectionAutoShow both;
    animation-timeline: view();   
}

li {
	list-style: none;
}

:root {
	--black: #000000;
	--neon: #0ad7e5;;
    --yellow: #ffd735;
    --grey: #efefef;
    --darkgrey: #494949;
}

/*
.section-title {
    font-size: 2em;
    text-transform: uppercase;
    font-style: italic;
    background-color: black;
    color: white;
    padding: .1rem 2rem;
    transform: rotate(.8deg);
    z-index: 1;
    cursor: default;
    transition: .2s ease;
}
*/

#section-title-techstack {
    font-size: 4vw;
    letter-spacing: 5px;
    transform: rotate(-2deg);
}

.wrapper {
	display: flex;
    height: 100%;
}

.indicator {
	padding: 1.5rem 0;
	border-right: 1px solid var(--neon);
}

.indicator li {
	display: flex;
	align-items: center;
	grid-gap: .5rem;
	padding: 20px 2rem;
	cursor: pointer;
	font-size: .875rem;
	color: black;
	border-right: 3px solid transparent;
    text-transform: uppercase;
    font-weight: 700;
    transition: .3s ease;
}
.indicator li i {
	font-size: 1rem;
}
.indicator li:hover {
	background: var(--grey);
}
.indicator li.active {
	border-right: 5px solid var(--neon);
	color: var(--neon);
	background: black;
}

.content {
    width: 100%;
    padding: 1rem;
    height: inherit; 
    overflow-y: auto;
}

.content li {
    display: none;
}

.content li.active {
    display: flex;
    grid-template-columns: repeat(5, 1fr); 
    display: grid;
    justify-items: center;
    align-items: center;
}

.tech-stack-container {
    height: 28rem;
	width: 62vw;
	background: white;
    border: 2px solid black;
	border-radius: 5px;
	box-shadow: 4px 4px 0 0 var(--darkgrey);
    cursor: default;
    transform: rotate(-2deg);
}

.tech-stack-indiv {
    height: 10em;
    width: 8em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black);
    box-shadow: 4px 4px 0 0 var(--black);
    padding: 10px;
    margin: 1em .4em;
    transition: .4s ease;
}



.tech-stack-indiv:hover {
    transform: translate(-3px,-3px)
}

.tech-stack-indiv img {
    height: 45%;
    width: auto;
}

.content li p {
    text-transform: uppercase;
    font-weight: 800;
    padding-top: .8em;
    margin-bottom: .5em;
    color: var(--dark-grey);
    font-size: .875em;
}

@keyframes sectionAutoShow{
    0%{
        transform: translateY(200px) scale(0.3);
        transform: rotate(40deg);
        filter: blur(40px);
    }
    45%, 60%{
        filter: blur(0px);
        transform: translateY(0) scale(1);
    }
    100%{
        filter: blur(40px);
        transform: rotate(-10deg);
    }
}

@keyframes sectionAutoblur{
    0%{
        filter: blur(40px);
    }
    30%, 85%{
        filter: blur(0px);
    }
    100%{
        filter: blur(60px);
    }
}



@media screen and (max-width: 576px) {
	
}